<div class="row">
	<div class="col s12 center">
	<h1>100 canciones m&aacute;s populares</h1>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<small><p>Las 100 canciones m&aacute;s escuchadas en EU.
				<font color="red">Como muchas son recientes, puede
				que a&uacute;n no tengan letra</font>.</p></small>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<% for(var i=0; i < tracks.length; i++) {
			var track = tracks[i]; %>
				<div class="card grey lighten-5 z-depth-1">
					<div class="card-content valign-wrapper">
						<span class="card-title"><%= track.song_title %></span>
						<p>by <%= track.artist %></p>
					</div>
					<div class="card-action">
						<% if (track.link) { %>
							<a href="#!" onclick="apretaste.send({command: 'BILLBOARD LETRA', data: {query: tracks[<%= i %>].link}}); %>"><small>Letra</small></a>
						<% } %>
					</div>
				</div>
		<% } %>
	</div>
</div>