<div class="row">
	<div class="col s12">
		<h4 class="no-margin-bottom">#<%= number %> <%- song %></h4>
		<p class="no-margin-top blue-grey-text">Por <%= artist %></p>

		<div>
			<%- lyrics %>
		</div>
	</div>
</div>

<!-- back floating button -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BILLBOARD'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
